.swiper {
  width: 1280px !important;
  height: 280px !important;
}

.swiper-pagination {
  width: 74px !important;
  height: 16px !important;
  top: 242px !important;
  left: 1166px !important;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: 1;
  background-color: #F4F4FC
}

.swiper-pagination-bullet-active {
  background-color: #7575E2
}
